* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(#9568E1, #5AA4C9);

    display: flex;
}
/* Flex layout */
.main-container,
.main-container form,
.alternative-auths,
.side-img-container {
    display: flex;
    flex-direction: column;
}

.main-container,
.side-img-container {
    width: 50%;
}

.main-container {
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main-container form {
    gap: 16px;
}

/* Sign up form style */
.form-field {
    border: 2px solid white;
    border-radius: 4px;

    width: 95%;
    height: 40px;
}

.form-field input {
    width: 100%;
    height: 100%;

    padding-left: 1rem;

    background: none;
    outline: none;
    border: none;
}

.btn-submit-field button {
    width: 100%;

    padding-block: 1rem;
    border-radius: 24px;

    outline: none;
    border: none;

    cursor: pointer;
}