@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Athiti", serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#733dcf, #3b98c7);

    display: flex;
    overflow-x: hidden;
}

/* Flex layout */
.main-container,
.title,
.form-field,
.main-container form,
.terms-agreement,
.alternative-auths,
.side-img-container {
    display: flex;
    flex-direction: column;
}

.main-container,
.side-img-container {
    width: 50%;
}

.main-container {
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.main-container form {
    gap: 16px;
}

/*Form title */
.title {
    align-self: flex-start;
}

.title h1 {
    color: white;
    font-weight: 600;
    
}

/* Form field style */
.form-field {
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 44px;

    border: 2px solid white;
    border-radius: 4px;
 
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.form-field input {
    width: 100%;
    height: 100%;

    padding-left: 1rem;

    color: white;
    font-weight: 600;
    font-size: 1.1rem;

    background: none;
    outline: none;
    border: none;
    
}

.form-field:focus-within{
    border: 3px solid #1230AE;

}

.form-field input::placeholder {
    color: white;
}
/* Form icons styling */
.form-field label {
    padding-inline: 0.75rem;
    border-right: 1px solid;
    color: white;
}

/* Form buttons style */
.btn-submit-wrap button,
.btn-google-sign {
    width: 100%;
    padding-block: 0.6rem;
    border-radius: 24px;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    border: 2px solid white;
    cursor: pointer;
}

.btn-submit-wrap button {
    color: #000000b8;
    background: #fafafa;
    transition: color 0.4s ease;
}

.btn-submit-wrap button:hover{
    transition: background 0.7s ease;
    background: none;
    color: white;
}

.btn-google-sign {
    color: white;
    background: none;
    transition: color 0.4s ease;
}

.btn-google-sign:hover {
    transition: background 0.7s ease;
    background: #fafafa;
    color: black;
}

.btn-google-sign img.google-logo {
    width: 24px;
    height: 24px;

    margin-right: 0.2rem;
    vertical-align: middle;
}   /* Google logo icon*/

/* Terms / Alternative authentication style */
.terms-agreement span{
    color: white;
    cursor: pointer;
}

.alternative-auths {
    text-align: center;
    gap: 16px;
}

.alternative-auths a {
    color: white;
    text-decoration: underline;
}

/* Right side image styling */
.side-img-container {
    align-items: end;
    justify-content: center;
}

.side-img-container img.img-component {
    width: 100%;
    margin-right: -50px;
}

/* Transform animation for image */
.img-component {
    transition: transform 0.6s ease; /* Smooth transition for scaling */
    transform-origin: center center; /* Ensure the shrink effect is centered */ 
}
  
.img-component:hover {
transform: scale(0.96); /* Shrink the image to 90% of its original size */
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-thumb {
    background: inherit;
    border-radius: 12px;
}
::-webkit-scrollbar-track {
    background: inherit; 
}


.terms-checkbox {
    transform: scale(1.2);
}