@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Athiti", serif;
}

:root {
    --light-gray: #fafafa;
    --background-cyan: #3b98c7;
    --background-purple: #733dcf;
    --btn-text-color: #000000b8;
}

body {
    min-height: 100vh;
    background: linear-gradient(var(--background-purple), var(--background-cyan));
    background-attachment: fixed;

    display: flex;
    overflow-x: hidden;
}

/* Flex layout */
.main-container,
.title,
.form-field,
.main-container form,
.terms-agreement,
.alternative-auths,
.side-img-container {
    display: flex;
    flex-direction: column;
}

.main-container,
.side-img-container {
    width: 50%;
}

.main-container {
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main-container form {
    gap: 16px;
}

/*Form title */
.title {
    align-self: flex-start;
}

.title h1 {
    color: var(--light-gray);
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Form field style */
.form-field {
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 44px;

    border: 2px solid var(--light-gray);
    border-radius: 4px;

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.form-field input {
    width: 100%;
    height: 100%;

    padding-left: 1rem;

    color: var(--light-gray);
    font-weight: 600;
    font-size: 1.1rem;

    background: none;
    outline: none;
    border: none;
}

.form-field:focus-within{
    border: 3px solid rgba(0, 0, 0, 0.550);
    box-shadow: rgba(15, 4, 4, 0.15) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
}

.form-field input::placeholder {
    color: var(--light-gray);
}
/* Form icons styling */
.form-field label {
    padding-inline: 0.75rem;
    border-right: 1px solid;
    color: var(--light-gray);
}

/* Form buttons style */
.btn-submit-wrap button,
.btn-google-sign {
    width: 100%;
    padding-block: 0.6rem;
    border-radius: 24px;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    border: 2px solid var(--light-gray);
    cursor: pointer;

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.btn-submit-wrap button {
    color: var(--btn-text-color);
    background: var(--light-gray);
}

.btn-submit-wrap button:hover{
    transition: color 0.4s ease;
    transition: background 0.7s ease;
    
    background: none;
    color: var(--light-gray);
}

.btn-google-sign {
    color: var(--light-gray);
    background: none;
    transition: color 0.4s ease;
}

.btn-google-sign:hover {
    transition: background 0.7s ease;
    background: var(--light-gray);
    color: black;
}

.btn-google-sign img.google-logo {
    width: 24px;
    height: 24px;

    margin-right: 0.2rem;
    vertical-align: middle;
}

/* Terms / Alternative authentication style */
.terms-agreement a{
    color: var(--light-gray);
    cursor: pointer;
}

#terms-checkbox {
    transform: scale(1.2);
}

.alternative-auths {
    text-align: center;
    gap: 16px;
}

.alternative-auths a {
    color: var(--light-gray);
    text-decoration: underline;
}

/* Right side image styling */
.side-img-container {
    align-items: end;
    justify-content: center;
}

.side-img-container img.img-component {
    max-height: 80%;
    width: 100%;

    margin-right: -50px;
}

/* Transform animation for image */
.img-component {
    transition: transform 0.6s ease; /* Smooth transition for scaling */
    transform-origin: center center; /* Ensure the shrink effect is centered */ 
}
  
.img-component:hover {
    transform: scale(0.98); /* Shrink the image to 90% of its original size */
}

/* Medium / small screen media query */

@media (max-width: 762px) {

    body {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        margin-block: 2rem;
    }

    .main-container {
        width: 60%;
    }

    .img-component {
        height: 20%;
        margin: 0;
    }

    .terms-agreement {
        text-align: center;
    }
}

@media (max-width: 600px) {

    body {
        margin-block: 1rem;
    }

    .main-container {
        min-width: 80%;
    }

}
